@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&display=swap');

#centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#navbarNavDropdown a {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #3f3f3f;
}

.carousel-inner {
    max-height: 39rem;
}

@media (max-width:768px) {
    #intro {
        width: 90% !important;
        
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
}

@media(max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}